<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="FileLogger" fileName="C:\Users\brkal\Desktop\JAVA\jv-multithreading-thread-pool\task-log.log">
            <PatternLayout pattern="%level %logger{1}:%L %msg%n"/>
        </File>
        <Console name="ConsoleLogger" target="SYSTEM_OUT">
            <PatternLayout pattern="%level %logger{1}:%L %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="FileLogger"/>
            <AppenderRef ref="ConsoleLogger"/>
        </Root>
    </Loggers>
</Configuration>